---
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint molecule/*/*.yml
  flake8
platforms:
  - name: molecule-takelage-dev-test-project-${TAKELAGE_PROJECT_ENV:-default}
    image: ${TAKELAGE_PROJECT_BASE_IMAGE:-takelage/takelbase}
    command: /lib/systemd/systemd
    privileged: true
    pre_build_image: true
    groups:
      - ${TAKELAGE_PROJECT_ENV:-prod}
      - users
      - molecule
provisioner:
  name: ansible
  playbooks:
    converge: >-
      ../../${TAKELAGE_MOLECULE_CONVERGE_PLAYBOOK:-playbook-project-base.yml}
  config_options:
    defaults:
      interpreter_python: auto_silent
      stdout_callback: yaml
      bin_ansible_callbacks: true
  inventory:
    links:
      group_vars: ../../group_vars/
verifier:
  name: testinfra
  options:
    # p: cacheprovider  # enable cache
    s: true  # capture output
    v: true
  additional_files_or_dirs:
    # integration
    - ../../../roles/*/molecule/default/tests/test_*.py
    # system
    - ../../../roles/*/molecule/default/system/test_*.py
  env:
    TESTVARS_ROLES_BLOCKLIST: github-rvm_rvm1-ansible
scenario:
  create_sequence:
    - create
  converge_sequence:
    - create
    - converge
  destroy_sequence:
    - destroy
  test_sequence:
    - lint
    - cleanup
    - destroy
    - syntax
    - create
    - converge
    - idempotence
    - verify
    # - destroy
