---
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint molecule/*/*.yml
  flake8
platforms:
  - name: molecule-takelage-dev-test-image-${TAKELAGE_PROJECT_ENV:-prod}
    image: packer_local/takelage-dev:${TAKELAGE_PROJECT_ENV:-prod}
    override_command: true
    command: >-
      /entrypoint.py
      --username testuser
      --uid 1010
      --gid 1010
      --home /testhome/testuser
      --no-bit
      --no-docker
      --no-git
      --no-gopass
      --no-gpg
      --no-ssh
      --gpg_agent_port 18502
      --gpg_ssh_agent_port 18503
    tty: true
    privileged: true
    pre_build_image: true
    groups:
      - ${TAKELAGE_PROJECT_ENV:-prod}
      - users
      - molecule
provisioner:
  name: ansible
  playbooks:
    converge: >-
      ../../${TAKELAGE_MOLECULE_CONVERGE_PLAYBOOK:-playbook-project-base.yml}
  config_options:
    defaults:
      interpreter_python: auto_silent
      stdout_callback: yaml
      bin_ansible_callbacks: true
  inventory:
    links:
      group_vars: ../../group_vars/
verifier:
  name: testinfra
  options:
    s: true  # capture output
    v: true
scenario:
  create_sequence:
    - create
  converge_sequence:
    - create
  destroy_sequence:
    - destroy
  test_sequence:
    - lint
    - destroy
    - create
    - verify
    - syntax
    - destroy
